# Node
node_modules/
npm-debug.log
yarn-error.log

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug-*
storage-debug.log

# Env files
.env
.env.local
.env.production
.env.development

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db
